extends ../layout
block head

  title Your assets
  link(rel="stylesheet", href="/css/ext-all.css")
  script(src='/js/ext-all.js')

  include createAssetForm.js

  script
    Ext.onReady(function() {


        var extraFields = [];

        var panel = createPanel(extraFields, "#{readableAssetType}", '');

        var layout = Ext.create('Ext.Viewport', {
            layout:'border',
            bodyBorder: false,
            padding: '48 0 0 0',
            bodyStyle: 'width:100%',
            items: [panel],
            renderTo: Ext.getBody(),
            border: 0
        });
    });

block body
  .title
    <br/>
    include ../navigator
    .container-fluid
