{
    "cookieSecret": "love cookies",
    "server": {
        "hostname": "localhost",
        "port": 3000,
        "api": "/bodega/v1/json/",
        "store": "null",
        "network": "Make Play Live"
    },
    "client": {
        "port": 3002,
        "hostname": "localhost"
    },
    "redis" : {
        "host" : "localhost"
    }
}
