{
    "cookieSecret": "love cookies",
    "server": {
        "secureConnection": false,
        "publicUrl": "http://localhost:3000/",
        "hostname": "localhost",
        "port": 3000,
        "api": "/bodega/v1/json/",
        "store": "null",
        "name": "Make Play Live"
    },
    "client": {
        "port": 3002,
        "hostname": "localhost"
    },
    "redis" : {
        "host": "localhost",
        "prefix": "bodega-manager-sess:"
    }
}
