extends layout
block head
  title Modify your own #{network} Account
block body
  .title
    br
    script
      Ext.tip.QuickTipManager.init();

      function validateForm() {

        if ($('#newPassword').val() !== $('#newPassword2').val()) {
            $('#newPassword').attr('placeholder', 'Your passwords does not match.');
            $('#newPassword2').attr('placeholder', 'Your passwords does not match.');
            $('#field-control2').addClass('error');
            $('#help-password').text('Your passwords does not match');
            return false;
        } else if ($('#newPassword').val().length < 8 || $('#newPassword2').val() < 8 ) {
            $('#newPassword').attr('placeholder', 'Your password must be at least 8 characters long.');
            $('#newPassword2').attr('placeholder', 'Your password must be at least 8 characters long.');
            $('#field-control2').addClass('error');
            $('#help-password').text('Your password must be at least 8 characters long');
            return false;
       }
      }
    include navigator
    .container-fluid
      .row-fluid
          form.form-horizontal.well(method='POST', id='modifyAccount')
            fieldset.control-group(id='field-control')
              .control-group
                label.control-label(for='firstName') Name
                .controls
                  input.xlarge(type='text', value='#{firstName}', name='firstName')
              .control-group
                label.control-label(for='lastName') Last name
                .controls
                  input.xlarge(type='text', value='#{lastName}', name='lastName')
              .control-group
                label.control-label(for='email') Email
                .controls
                  input.xlarge(type='text',  value='#{email}', name='email')
              .control-group
              .controls
                input.btn.btn-primary(type='submit',id='updateAccount', value='Update Account')

          form.form-horizontal.well(method='GET', action='/account/changePassword', id='modifyPassword', onsubmit='return validateForm();')
            fieldset.control-group(id='field-control2')
              span.help-control(id='help-password')
              .control-group
                label.control-label(for='newPassword') New Password
                .controls
                  input.xlarge(type='password', placeholder='Enter your new password', name='newPassword', id='newPassword')
              .control-group
                label.control-label(for='password2') Confirm Password
                .controls
                  input.xlarge(type='password', placeholder='Reenter your password', name='newPassword2', id='newPassword2')
              .control-group
              .controls
                input.btn.btn-primary(type='submit',id='updatePassword', value='Update Password')


