extends layout
block head

  title Your assets
  link(rel="stylesheet", href="/css/ext-all.css")
  script(src="/js/uploader/jquery.knob.js")
  script(src="/js/uploader/jquery.ui.widget.js")
  script(src="/js/uploader/jquery.iframe-transport.js")
  script(src="/js/uploader/jquery.fileupload.js")
  script(src="/js/uploader/script.js")

block body
  .title
    <br/>
    include navigator
    .container-fluid
      .row-fluid

          <form id="upload" method="POST" action="/asset/create" enctype="multipart/form-data">
          <legend>Upload the files of your assets</legend>
          <div id="drop"> Drop Here <br/>
          <a>Browse</a>
          <input type="file" name="upl" multiple />
          </div><br/>
          <div id="button" style="display:none"><a href="/asset/list">Review the new assets</a><br/><br/></div>
          <ul>
          <!-- The file uploads will be shown here -->
          </ul>
          </form>
