extends layout
block head

  title Your assets
  link(rel="stylesheet", href="/css/ext-all.css")
  script(src='/js/ext-all.js')

  include createAssetForm.js

  script
    Ext.onReady(function() {
        var authorsStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId:'tagStore',
            fields:['type', 'title'],
            proxy: {
                type: 'ajax',
                url: '/json/tag/list/author',
                reader: {
                    type: 'json',
                    root: 'tags'
                }
            }
        });
        var publisherStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId:'tagStore',
            fields:['type', 'title'],
            proxy: {
                type: 'ajax',
                url: '/json/tag/list/publisher',
                reader: {
                    type: 'json',
                    root: 'tags'
                }
            }
        });
        var isbnStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId:'tagStore',
            fields:['type', 'title'],
            proxy: {
                type: 'ajax',
                url: '/json/tag/list/isbn',
                reader: {
                    type: 'json',
                    root: 'tags'
                }
            }
        });
        var createdStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId:'tagStore',
            fields:['type', 'title'],
            proxy: {
                type: 'ajax',
                url: '/json/tag/list/created',
                reader: {
                    type: 'json',
                    root: 'tags'
                }
            }
        });
        var urlStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId:'tagStore',
            fields:['type', 'title'],
            proxy: {
                type: 'ajax',
                url: '/json/tag/list/url',
                reader: {
                    type: 'json',
                    root: 'tags'
                }
            }
        });
        var extraFields = [{
                xtype: 'hidden',
                name: 'info[tags][0][type]',
                value: 'assetType'
            }, {
                xtype: 'hidden',
                name: 'info[tags][0][title]',
                value: 'book'
            }, {
                xtype: 'hidden',
                name: 'info[tags][1][type]',
                value: 'author'
            }, {
                xtype: 'combobox',
                name: 'info[tags][1][title]',
                fieldLabel: 'Author',
                displayField: 'title',
                valueField: 'type',
                store: authorsStore,
                allowBlank: false
            }, {
                xtype: 'hidden',
                name: 'info[tags][2][type]',
                value: 'publisher'
            }, {
                xtype: 'combobox',
                name: 'info[tags][2][title]',
                fieldLabel: 'Publisher',
                displayField: 'title',
                valueField: 'type',
                store: publisherStore,
                allowBlank: false
            }, {
                xtype: 'hidden',
                name: 'info[tags][3][type]',
                value: 'isbn'
            }, {
                xtype: 'combobox',
                name: 'info[tags][2][title]',
                fieldLabel: 'ISBN',
                displayField: 'title',
                valueField: 'type',
                store: isbnStore,
                allowBlank: false
            }, {
                xtype: 'hidden',
                name: 'info[tags][4][type]',
                value: 'created'
            }, {
                xtype: 'combobox',
                name: 'info[tags][2][title]',
                fieldLabel: 'Created',
                displayField: 'title',
                valueField: 'type',
                store: createdStore,
                allowBlank: false
            }, {
                xtype: 'hidden',
                name: 'info[tags][5][type]',
                value: 'url'
            }, {
                xtype: 'combobox',
                name: 'info[tags][2][title]',
                fieldLabel: 'URL',
                displayField: 'title',
                valueField: 'type',
                store: urlStore,
                allowBlank: false
            }
        ];

        var panel = Ext.create('Ext.Panel', {
            collapsible: false,
            region: 'center',
            dockedItems: [{
                xtype: 'toolbar',
                dock: 'top',
                items: [{
                    xtype: 'button',
                    text: 'Mass create',
                    scope: this,
                    handler: function() {
                        window.location.href = "/asset/create/mass";
                    }
                }, {
                    xtype: 'button',
                    text: 'Generic Asset',
                    scope: this,
                    handler: function() {
                        window.location.href = "/asset/create/generic";
                    }
                }, {
                    xtype: 'button',
                    text: 'Book Asset',
                    scope: this,
                    handler: function() {
                        window.location.href = "/asset/create/book";
                    }
                }, {
                    xtype: 'button',
                    text: 'App from OBS',
                    scope: this,
                    handler: function() {
                        window.location.href = "/asset/create/obs";
                    }
                }]
            }],
            items: [createAssetForm(extraFields)]
        });

        var layout = Ext.create('Ext.Viewport', {
            layout:'border',
            bodyBorder: false,
            padding: '48 0 0 0',
            bodyStyle: 'width:100%',
            items: [panel],
            renderTo: Ext.getBody(),
            border: 0
        });
    });

block body
  .title
    <br/>
    include navigator
    .container-fluid
