extends layout
block head

  title Your assets
  link(rel="stylesheet", href="/css/ext-all.css")
  script(src='/js/ext-all.js')

  script.
    Ext.onReady(function() {

        var partnerStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId: 'partnerStore',
            fields: ['id', 'name', 'email', 'publisher', 'distributor', 'points', 'people', 'links', 'assets', 'downloads', 'purchases', 'stores'],
            proxy: {
                type: 'ajax',
                url: '/json/partner/list',
                reader: {
                    type: 'json',
                    root: 'partners'
                }
            }
        });

        var partnersOverview = Ext.create('Ext.Panel', {
            id: 'partners-view',
            frame: true,
            colspan: 2,
            title: 'Partners',
            items: Ext.create('Ext.view.View', {
                store: partnerStore,
                tpl: [
                    '<tpl for=".">',
                        '<div class="thumb-wrap" id="{name:stripTags}">',
                        '<h4>{name:htmlEncode}</h4>',
                        '<table>',
                            '<tr><th>Stores:</th><td>{stores:htmlEncode}</td></tr>',
                            '<tr><th>Total assets:</th><td>{assets:htmlEncode}</td></tr>',
                            '<tr><th>Points earned:</th><td>{points:htmlEncode}</td></tr>',
                            '<tr><th>Downloads:</th><td>{downloads:htmlEncode}</td></tr>',
                            '<tr><th>Purchases:</th><td>{purchases:htmlEncode}</td></tr>',
                        '</table>',
                        '</div>',
                    '</tpl>',
                    '<div class="x-clear"></div>'
                ],
                emptyText: 'Your account is not associated with a partner<br><a href="/partner/list">Click here to create a new one</a>',

            })
        });

        var contactInfo = Ext.create('Ext.Panel', {
            id: 'assetsa-view',
            frame: true,
            colspan: 1,
            html: 'No contact info available',
            title: 'Warehouse',
            //width: 200,
            //height: 285
        });

        var contactStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId: 'partnerStore',
            fields: ['store', 'warehouse'],
            proxy: {
                type: 'ajax',
                url: '/json/contact',
                reader: {
                    type: 'json',
                   // root: 'partners'
                }
            },
            listeners: {
                load: function( store, records, successful, eOpts ) {
                    console.log(records)
                    if (!successful) {
                        return;
                    }

                    var html = '<h4><a href="' + records[0].data.warehouse.url + '">';
                    html +=  records[0].data.warehouse.name + '</a></h4>';
                    html += '<p>' + records[0].data.warehouse.description + '</p>';
                    html += '<p>Contact: <a href="' + records[0].data.warehouse.contact + '">' + records[0].data.warehouse.contact + '</a></p>';

                    if (records[0].data.store.contact) {
                        html += '<h4>Store ' + records[0].data.store.name + '</h4>';
                        html += '<p>' + records[0].data.store.description + '</p>';
                        html += '<p>Contact: <a href="' + records[0].data.store.contact + '">' + records[0].data.store.contact + '</a></p>';
                    }

                    contactInfo.update(html);
                }
            }
        });

        var totalAssets = Ext.create('Ext.Panel', {
            id: 'assets-view',
            frame: true,
            colspan: 1,
            title: 'Store Activity',
            items: Ext.create('Ext.view.View', {
                deferEmptyText: false,
                emptyText: 'No store activity to report',
                store: statsStore,
                tpl: [
                    '<tpl for=".">',
                        '<div class="thumb-wrap" id="{name:stripTags}">',

                        '<h4>{dateString:htmlEncode}</h4>',
                        '<table>',
                            '<tr><th>Points:</th><td>{total:htmlEncode}</td></tr>',
                        '</table>',

                        '</div>',
                    '</tpl>',
                    '<div class="x-clear"></div>'
                ],
                prepareData: function(data) {
                    Ext.apply(data, {
                        dateString: Ext.util.Format.date(data.dateof, "M o")
                    });
                    return data;
                },
            })
        });

        var from = (new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDay() - 14));
        var to = new Date();

        var statsStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            storeId: 'statsStore',
            fields: ['dateof', 'total'],
            proxy: {
                type: 'ajax',
                url: '/json/stats/assets?' + $.param({"granularity": 'month', "from": from, "to": to}, true),
                reader: {
                    type: 'json',
                    root: 'stats'
                }
            }
        });

        var layout = Ext.create('Ext.Viewport', {
            overflowY: 'auto',
            layout: {
                type: 'table',
                columns: 3,
                tdAttrs: { style: 'padding: 10px;' }
            },
            defaults: {
                xtype: 'panel',
              //  width: 200,
              //  height: 200,
                bodyPadding: 10
            },
            bodyBorder: false,
            padding: '48 0 0 0',
            bodyStyle: 'width:100%',
            items: [partnersOverview, totalAssets, contactInfo],
            renderTo: Ext.getBody(),
            border: 10,
        });
    });

block body
  .title
    <br/>
    include navigator
    .container-fluid

