
block head
  title Welcome to the #{network} Web Store
  link(rel="stylesheet", href="/css/index.css")
  script(src="/js/index.js")


block body
  .title
    h1(align='center') Welcome to the #{network} Web Store Manager
  .container-fluid
    .row-fluid
        include navigator
    .row-fluid
      .span2
        
