doctype 5
html
  head
    script(src="http://code.jquery.com/jquery.js")
    link(rel="stylesheet", href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css")
    link(rel="stylesheet", href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css")
    script(src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js")
    link(rel="stylesheet", href="http://jscrollpane.kelvinluck.com/style/jquery.jscrollpane.css")
    script(src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js")
    script(text="text/javascript", src="http://cdn.sockjs.org/sockjs-0.3.min.js")
    block head
  body
    block body
