doctype 5
html
  head
    script(src="http://code.jquery.com/jquery.js")
    link(rel="stylesheet", href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css")
    link(rel="stylesheet", href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css")
    script(src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js")
    link(rel="stylesheet", href="http://jscrollpane.kelvinluck.com/style/jquery.jscrollpane.css")
    script(src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js")
    script(text="text/javascript", src="http://cdn.sockjs.org/sockjs-0.3.min.js")
    
    link(rel="stylesheet", href="/css/nv.d3.css")
    script(src='/js/nvd3/d3.v2.min.js')
    script(src='/js/nvd3/nv.d3.min.js')
    script(src='/js/nvd3/utils.js')
    script(src='/js/nvd3/models/axis.js')
    script(src='/js/nvd3/tooltip.js')
    script(src='/js/nvd3/models/legend.js')
    script(src='/js/nvd3/models/axis.js')
    script(src='/js/nvd3/models/scatter.js')
    script(src='/js/nvd3/models/stackedArea.js')
    script(src='/js/nvd3/models/stackedAreaChart.js')
    block head
  body
    block body
