doctype 5
html
  head
    script(src="http://code.jquery.com/jquery.js")
    link(rel="stylesheet", href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css")
    link(rel="stylesheet", href="/css/index.css")

    block head
  body
    block body
