doctype 5
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(type='text/javascript', src='/js/bootstrap.min.js')
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/index.css")

    block head
  body
    block body
