extends layout
block head
  title Login With Your #{network} Account
  style
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
    }

block body
  .title
    .container
      .span6.offset3
        form.well(method='POST', id='login', onsubmit='return validateForm();')
          fieldset.control-group(id='field-control', align='center')
            .input
              h4 Login with your #{network} Account
            .input
              input.xlarge(type='text', placeholder='Enter your Username', name='username', required)
            .input
              input.xlarge(type='password', placeholder='Enter your Password', name='password', required)
            .action
              input.btn.btn-primary(type='submit',id='loginButton', value='Connect!')

