style
  body {
    padding: 40px;
  }
//based on the twitter documentation we must change the padding
//of your body. Otherwise our navigator will hide some elements from the page
//http://twitter.github.com/bootstrap/javascript.html#affix

.navbar.navbar-inverse.navbar-fixed-top(id='navigator')
  .navbar-inner
    ul.nav.pull-right
      li
        a.btn.btn-inverse(href='/index')
          i.icon-home.icon-white
          | Home
      li.divider-vertical
      li
        a.btn.btn-inverse(href='/asset/list')
          i.icon-th-list.icon-white
          | Assets
      li.divider-vertical
      if inManagementGroup
        li
          a.btn.btn-inverse(href='/asset/publish')
            i.icon-thumbs-up.icon-white
            | Publish
        li.divider-vertical
      li
        a.btn.btn-inverse(href='/store/list')
          i.icon-shopping-cart.icon-white
          | Stores
      li.divider-vertical
      li
        a.btn.btn-inverse(href='/stats/assets')
          i.icon-signal.icon-white
          | Statistics
      li.divider-vertical
      li
        a.btn.btn-inverse(href='/partner/list')
          i.icon-briefcase.icon-white
          | Partners
      li.divider-vertical
      li
        a.btn.btn-inverse(href='/account/modify')
          i.icon-user.icon-white
          | Account
      li.divider-vertical
      li
        a.btn.btn-inverse(href='/logout')
          i.icon-off.icon-white
          | Logout

