extend layout
block head
    title Reset Password confirmation
    script.
      $(document).ready(function() {
        window.setTimeout(function() {
          window.location = '/';
        }, 2000);
      });
block body
    .page-header
      h1(align="center") #{network} Account
    if success === true
      .alert.alert-success.success
        | Your password reset request was successful. An email has been sent to you with further instructions.
    else
      .alert.alert-error.error
        | An error occured: #{error}. Please try again.
