extend layout
block head
    title Reset Password confirmation
    script
      $(document).ready(function() {
        window.setTimeout(function() {
          window.location = '/';
        }, 2000);
      });
block body
    .page-header
      h1(align="center") #{network} Account
    if result === true
      .alert.alert-success.success
        | #{message}
    else
      .alert.alert-error.error
        | That account could not be found. Please try again.
