extends layout
block head
  title Reset your own #{network} Account Password
block body
  .title
    h1(align="center") Reset your own #{network} Account Password
    .container
      .span6.offset3
        form.well(method='POST', id='login', onsubmit='return validateForm();')
          fieldset.control-group(id='field-control')
            .input
              input.xlarge(type='text', placeholder='Enter your email', name='email', required)
            .action
              input.btn-primary(type='submit',id='resetPasswordButton', value='Reset my password')
